@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,700&family=Inter:wght@400;700&display=swap");
/*COLOR PALETTE*/
/*FONTS*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

img {
  width: 50%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

.section-title {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.21em;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #CC0000;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(20, 21, 23, 0.5);
}

.modal-content {
  background-color: #000;
  margin: 15% auto;
  padding: 60px;
  border: 1px solid #888;
  width: 400px;
  position: relative;
}

.modal-tabs {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  background-color: transparent;
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
.tab-button.active {
  background-color: red;
}

.tab-button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tab-button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tab-content {
  display: none;
}

#loginForm input[type=text],
#loginForm input[type=password],
#registerForm input[type=text],
#registerForm input[type=password] {
  width: 100%;
  height: 44px;
  top: 174px;
  left: 61px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px;
  color: #141517;
}

input[type=checkbox] {
  margin-bottom: 20px;
}

.loginButton,
.registerButton {
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #CC0000;
  color: #FFFFFF;
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.loginButton:hover,
.registerButton:hover {
  background-color: #990000;
}

.close {
  color: #aaa;
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.close img {
  width: 16px;
  height: 16px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inria Sans", sans-serif;
  background: #191B20;
  color: #FFFFFF;
}

.container {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 7.5rem)) minmax(5vw, 1fr);
  align-items: center;
  padding: 1.875rem 0;
}

.container {
  background: #141517;
  padding: 1.875rem 0;
}
.container .logo {
  grid-column: 2/4;
  font-family: "Inria Sans", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.6975rem;
}
.container .logo:hover, .container .logo:visited {
  color: #FFFFFF;
}
.container .logo span {
  color: #CC0000;
}
.container nav {
  grid-column: 9/-2;
}
.container nav .nav-bar {
  display: flex;
  justify-content: space-between;
}
.container nav .nav-bar li {
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.container nav .nav-bar li:hover {
  cursor: pointer;
  color: #CC0000;
  /* Add your desired hover color here */
}

#search .container {
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  background: transparent;
}
#search #search-form {
  grid-column: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search #search-form input {
  padding: 16px 16px;
  color: #000;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}
#search #search-form button {
  background: #CC0000;
  border-radius: 0 8px 8px 0;
  font-size: 1em;
  padding: 14px 16px 15px 16px;
  border: none;
}
#search #search-form button:hover {
  cursor: pointer;
  background: #990000;
}
#search #search-form button img {
  width: 18px;
  height: 16px;
  place-items: center;
}

#results .container {
  padding-bottom: 95px;
  position: relative;
  background: transparent;
}
#results #search-results {
  grid-column: 3/13;
}
#results .swiper {
  grid-column: 3/13;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  z-index: -201;
}
#results .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#results .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#results .swiper-button-next::after,
#results .swiper-button-prev::after {
  content: "";
}
#results .swiper-button-prev {
  background-image: url("/img/previous.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 2;
}
#results .swiper-button-next {
  background-image: url("/img/next.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 13/span 1;
}

#releases .container {
  padding-bottom: 95px;
  position: relative;
  background: transparent;
}
#releases #releases-content {
  grid-column: 3/13;
}
#releases .swiper {
  grid-column: 3/13;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
#releases .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#releases .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#releases .swiper-button-next::after,
#releases .swiper-button-prev::after {
  content: "";
}
#releases .swiper-button-prev {
  background-image: url("/img/previous.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 2;
}
#releases .swiper-button-next {
  background-image: url("/img/next.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 13/span 1;
}

#genres .container {
  padding-bottom: 95px;
  position: relative;
  background: transparent;
}
#genres .genres-title {
  grid-column: 2/-2;
  text-align: center;
  margin-bottom: 20px;
}
#genres .genres-list {
  grid-column: 5/-5;
  display: flex;
  justify-content: space-around;
  gap: 45px;
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #FFFFFF;
}
#genres #selected-genre {
  grid-column: 3/13;
}
#genres .swiper {
  grid-column: 3/13;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  z-index: -201;
}
#genres .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#genres .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#genres .swiper-button-next::after,
#genres .swiper-button-prev::after {
  content: "";
}
#genres .swiper-button-prev {
  background-image: url("/img/previous.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 2;
}
#genres .swiper-button-next {
  background-image: url("/img/next.svg") !important;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 13/span 1;
}

.container {
  background: #141517;
  padding: 1.875rem 0;
  align-items: space-between;
}
.container .logo {
  font-family: "Inria Sans", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.6975rem;
}
.container .logo:hover, .container .logo:visited {
  color: #FFFFFF;
}
.container .logo span {
  color: #CC0000;
}
.container nav.footer {
  grid-column: 6/10;
}
.container nav.footer .nav-bar {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.container nav.footer .nav-bar li {
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.container nav.footer .nav-bar li:hover {
  cursor: pointer;
  color: #CC0000;
}
.container nav.footer .copyright {
  grid-column: 11/14;
}
.container nav.footer .copyright p {
  text-align: right;
  color: #B8B8B8;
}