@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,700&family=Inter:wght@400;700&display=swap');

/*COLOR PALETTE*/
$bg: #191B20;
$darkGrey: #141517;
$red: #CC0000;
$white: #FFFFFF;
$black: #000;
$grey: #B8B8B8;

/*FONTS*/
$inria: 'Inria Sans', sans-serif;
$inter: 'Inter', sans-serif;