.container-footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap:20em;
    background: $darkGrey;
    padding: 1.875rem 0;
    justify-content: center;
    align-items: space-between;

    .logo {
        //grid-column: 2/4;

        font-family: $inria;
        color: white;
        font-weight: 700;
        font-size: 2.25em;
        line-height: 2.6975rem;

        &:hover,
        &:visited {
            color: $white;
        }

        span {
            color: $red;
        }
    }

    nav.footer {

        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
            text-transform: uppercase;

            li {

                font-family: $inria;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.79px;
                letter-spacing: 3%;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                    color: $red;
                }
            }
        }

        .copyright {
            left: 50px;
            
            text-align: center;
            
            
            p{
                color: grey;
            }
        }
    }
}