#genres {
    .container {
        padding-bottom: 95px;
        position: relative;
        background: transparent;
    }

    .genres-title {
        grid-column: 2/-2;
        text-align: center;
        margin-bottom: 20px;
    }

    .genres-list {
        grid-column: 5/-5;
        display: flex;
        justify-content: space-around;
        gap: 45px;
        margin-bottom: 40px;
        padding: 28px 0;
        border-bottom: 1px solid $white;

        li {
            
            background-color: transparent;
            align-items: center;
            border-radius: 8px;
            color: $white;
            line-height: 1;
            padding: 10px;
            transition: padding 0.2s; 
            box-sizing: border-box; 
        }
    
        li:hover, li:active {
            cursor: pointer;
            background-color: $red;
            padding: 10px;
        }
    }

    #selected-genre {
        grid-column: 3/13;
    }
    
    
}